/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #807878;
  }
  
  header {
    background-color: #b58003;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header .logo h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  header .logo p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  main {
    padding: 40px 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2C3E50;
  }
  
  .produtos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .produto {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    margin: 20px;
    transition: transform 0.3s;
  }
  
  .produto:hover {
    transform: scale(1.05);
  }
  
  .produto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .produto h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  
  .produto p {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  
  .comprar {
    background-color: #E67E22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comprar:hover {
    background-color: #D35400;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #2C3E50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #34495E;
  }
  
  footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  